{% extends "base.html" %}

{% block content %}

<section class="single-post-content">
    <div class="container">
      <div class="row">
        <div class="post-content" data-aos="fade-up">

          <!-- ======= Single Post Content ======= -->
          <div class="single-post">
            <div class="post-meta"><span class="date">Travel</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
            <h1 class="mb-5">Exploring the Majestic Beauty of Nepal: The Mardi Trek Experience</h1>
            <p><span class="firstcharacter">N</span>estled in the heart of the Himalayas, Nepal boasts some of the world's most spectacular trekking routes, offering adventurers breathtaking vistas and unforgettable experiences.
                 Among these, the Mardi Trek stands out as a gem, captivating trekkers with its serene trails, panoramic mountain views, and rich cultural encounters.</p>

            <figure class="my-4">
              <img src="/img/mardi-1.jpg" alt="" class="img-fluid  article_img">
              <figcaption>Breathtaking view of Mardi mountain with prayer flags fluttering in the wind, carrying prayers to the mountains. </figcaption>
            </figure>
            The journey commences with a scenic taxi ride from Pokhara to Dhampus, the starting point of the trek. From Dhampus, trekkers are greeted with a lush expanse of forests, embarking on a captivating six-hour journey to reach Forest Camp.
            <br>
            As the trek unfolds, travelers ascend from Forest Camp to High Camp, an enchanting six-hour trek that unveils breathtaking mountain views and serene surroundings. Each step brings trekkers closer to nature's splendor, with the tranquil ambiance of High Camp providing a perfect respite amidst the Himalayan wilderness.
            <figure class="my-4">
              <img src="/img/mardi-2.jpg" alt="" class="img-fluid  article_img">
              <figcaption>A mesmerizing glimpse into Nepal's Annapurna region. </figcaption>
            </figure>
            The adventure reaches its zenith on Day 3 as trekkers traverse from High Camp to the Viewpoint. This two-hour trek offers panoramic vistas of the Himalayas, inviting travelers to immerse themselves in the awe-inspiring beauty of the mountain range. After soaking in the majestic scenery, trekkers embark on a leisurely two-hour walk back to High Camp before continuing their journey to Badal Dada, a three-hour trek that epitomizes the tranquility of the mountains.
            <br>
            On the final day of the Mardi Trek, adventurers embark on a four-hour journey from Badal Dada to Kalimati, traversing through the pristine landscapes of Nepal. As the trek concludes, trekkers catch a taxi from Kalimati back to Pokhara, bringing an end to their remarkable expedition through Nepal's hidden beauty.

            Embark on the Mardi Trek and unlock the secrets of Nepal's majestic landscapes and rich cultural heritage.

<br><br>
            <h4>Mardi Trek Short Itinerary</h4>
            <ul>
              <li><strong>Day 1:</strong> Pokhara to Dhampus by Taxi, Trek to Forest Camp (6 hours)</li>
              <li><strong>Day 2:</strong> Trek from Forest Camp to High Camp (6 hours)</li>
              <li><strong>Day 3:</strong> Trek from High Camp to Viewpoint (2 hours), Walk back to High Camp (2 hours), Trek to Badal Dada (3 hours)</li>
              <li><strong>Day 4:</strong> Trek from Badal Dada to Kalimati (4 hours), Return to Pokhara by Taxi (2 hours)</li>
            </ul>
        </div><!-- End Single Post Content -->

      </div>
    </div>
  </section>
{% endblock %}
